In [1]:
# connect to postgresql database called imdb_pg with user postgres and password postgres
import pandas as pd
import dave_imdb as di
import matplotlib.pyplot as plt
import seaborn as sns

# set no max rows
pd.set_option('display.max_rows', None)

# connect to the database
conn = di.connect_to_imdb_pg()

In [2]:
# test the function
searchname = "Jason Mewes"
df = di.search_name_basics(searchname, conn)
df.head(df.shape[0])

e:\Documents\GitHub\Dave_ML\dave_imdb.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query("SELECT * FROM name_basics WHERE primaryname ILIKE '%{}%';".format(name), conn)

,nconst,primaryname,birthyear,deathyear,primaryprofession,knownfortitles
0,nm0582939,Jason Mewes,1974.0,None,"actor,producer,director","tt0109445,tt0424345,tt0120655,tt0261392"

In [3]:
correct_row = 0
nconst_1 = di.get_nconst(df, correct_row)
searchname = "Arnold Schwarzenegger"
df = di.search_name_basics(searchname, conn)
df.head(df.shape[0])

e:\Documents\GitHub\Dave_ML\dave_imdb.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query("SELECT * FROM name_basics WHERE primaryname ILIKE '%{}%';".format(name), conn)

,nconst,primaryname,birthyear,deathyear,primaryprofession,knownfortitles
0,nm0000216,Arnold Schwarzenegger,1947.0,None,"actor,producer,writer","tt0103064,tt0088247,tt0216216,tt0107362"

In [4]:
correct_row = 0
nconst_2 = di.get_nconst(df, correct_row)

In [5]:
import warnings
warnings.filterwarnings("ignore", category=UserWarning, message="pandas only supports SQLAlchemy")
di.bacon_algorithm(nconst_1, nconst_2, conn)

Depth:  1
Number of actors for next iteration:  327
Costars Investigated:  1
Number of actors for next iteration:  426
Costars Investigated:  2
Number of actors for next iteration:  509
Costars Investigated:  3
Number of actors for next iteration:  706
Costars Investigated:  4
Number of actors for next iteration:  1108
Costars Investigated:  5
Number of actors for next iteration:  1578
Costars Investigated:  6
Number of actors for next iteration:  1696
Costars Investigated:  7
Number of actors for next iteration:  1863
Costars Investigated:  8
Number of actors for next iteration:  2167
Costars Investigated:  9
Number of actors for next iteration:  2426
Costars Investigated:  10
Number of actors for next iteration:  2767
Costars Investigated:  11
Number of actors for next iteration:  3117
Costars Investigated:  12
Number of actors for next iteration:  3146
Costars Investigated:  13
Number of actors for next iteration:  3451
Costars Investigated:  14
Number of actors for next iteration:  3579
Costars Investigated:  15
Number of actors for next iteration:  3600
Costars Investigated:  16
Number of actors for next iteration:  3797
Costars Investigated:  17
Number of actors for next iteration:  4309
Costars Investigated:  18
Number of actors for next iteration:  4736
Costars Investigated:  19
Number of actors for next iteration:  4745
Costars Investigated:  20
Number of actors for next iteration:  4879
Costars Investigated:  21
Number of actors for next iteration:  5091
Costars Investigated:  22
Number of actors for next iteration:  5134
Costars Investigated:  23
Number of actors for next iteration:  5158
Costars Investigated:  24
Number of actors for next iteration:  5253
Costars Investigated:  25
Number of actors for next iteration:  5318
Costars Investigated:  26
Number of actors for next iteration:  5437
Costars Investigated:  27
Number of actors for next iteration:  5503
Costars Investigated:  28
Number of actors for next iteration:  5645
Costars Investigated:  29
Number of actors for next iteration:  5687
Costars Investigated:  30
Number of actors for next iteration:  5702
Costars Investigated:  31
Number of actors for next iteration:  5782
Costars Investigated:  32
Number of actors for next iteration:  5817
Costars Investigated:  33
Number of actors for next iteration:  6046
Costars Investigated:  34
Number of actors for next iteration:  6376
Costars Investigated:  35
Number of actors for next iteration:  6726
Costars Investigated:  36
Number of actors for next iteration:  7176
Costars Investigated:  37
Number of actors for next iteration:  7226
Costars Investigated:  38
Number of actors for next iteration:  7828
Costars Investigated:  39
Number of actors for next iteration:  8160
Costars Investigated:  40
Number of actors for next iteration:  8431
Costars Investigated:  41
Number of actors for next iteration:  8741
Costars Investigated:  42
Number of actors for next iteration:  9099
Costars Investigated:  43
Number of actors for next iteration:  9222
Costars Investigated:  44
Number of actors for next iteration:  9475
Costars Investigated:  45
Number of actors for next iteration:  10046
Costars Investigated:  46
Number of actors for next iteration:  10308

[['nm0000411', 'nm0582939']]

In [8]:
# look up the name of the actor with nconst nm0582939
nconst = 'nm0000411'
query = f"SELECT primaryname FROM name_basics WHERE nconst = '{nconst}'"
pd.read_sql_query(query, conn)

      primaryname
0  Edward Furlong

In [ ]:

actor_movies = di.get_actor_movies(nconst, conn)
actor_movies.head(actor_movies.shape[0])
# plot year on x and averagerating on y
plt.figure(figsize=(12, 8))
plt.scatter(actor_movies["startyear"], actor_movies["averagerating"])
plt.xlabel("Year")
plt.ylabel("Average Rating")
plt.ylim(0, 10)
plt.title("Average Rating of Movies Over Time")
plt.show()

In [ ]:
# show the rows of tc_costars dataframe where primaryname column is Timothy Olyphant
to = tc_costars[tc_costars["primaryname"] == "Frank Vincent"]
#to = to.merge(pd.read_sql_query("SELECT * FROM title_basics;", conn), on="tconst")
to.head(to.shape[0])