In [30]:
# IMDB2SQL
# we're taking the IMDB data and converting it to SQL tables
# along the way, doing some data cleaning and manipulation
# goal here is to have a database that is minimal for the purpose of the project
# project is to replicate oracle of bacon
# so we only need movies, actors, and the relationships between them


# import name.basics.tsv
name_basics = pd.read_csv('name.basics.tsv', sep='\t')
# re-index on nconst
name_basics.set_index('nconst', inplace=True)
# random sample
name_basics.sample(5)

,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
nconst,,,,,
nm0063017,Gérard Bayle,1934,\N,actor,"tt0101019,tt0113362,tt0113721,tt0140366"
nm1637261,Timoumes Mohamed,\N,\N,sound_department,"tt0320661,tt28554013,tt14190592,tt4785472"
nm2608155,Scott Buckland,\N,\N,casting_department,tt0379240
nm11316480,Jay Di Dea,\N,\N,\N,tt1342711
nm13373222,Gurpreet singh Sidhu,\N,\N,\N,\N

In [32]:
# EDAs
# find all entries with \N in any column and set to NaN
name_basics = name_basics.replace('\\N', pd.NA)
# count missing values
name_basics.describe(include='all')

       primaryName birthYear deathYear primaryProfession knownForTitles
count     13779152    624696    233853          11116963       12236455
unique    10594057       542       484             22999        5748263
top           Alex      1980      2021             actor      tt0123338
freq           512     10067      7429           2448369           8289

In [28]:
# import title.basics.tsv
title_basics = pd.read_csv('title.basics.tsv', sep='\t')
title_basics.set_index('tconst', inplace=True)
title_basics.sample(25)

C:\Users\Dave\AppData\Local\Temp\ipykernel_24356\3124843855.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  title_basics = pd.read_csv('title.basics.tsv', sep='\t')

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tconst,,,,,,,,
tt1938072,tvEpisode,Episode #1.235,Episode #1.235,0,1966,\N,30,"Drama,Romance"
tt3612610,tvEpisode,Come Back Mr Walker,Come Back Mr Walker,0,2014,\N,\N,"Animation,Comedy,Crime"
tt1977830,movie,Jazz on Parade: Jazz musume kampai!,Jazz on Parade: Jazz musume kampai!,0,1955,\N,100,Drama
tt14207558,tvEpisode,Programa exibido em 07/12/1995,Programa exibido em 07/12/1995,0,1995,\N,60,Comedy
tt5765780,tvEpisode,"The Live Playoffs, Night 2","The Live Playoffs, Night 2",0,2016,\N,\N,"Game-Show,Music,Reality-TV"
tt11614108,tvEpisode,Episode #1.2519,Episode #1.2519,0,2015,\N,\N,Drama
tt14942674,tvEpisode,Centopéia,Centopéia,0,2019,\N,\N,"Animation,Family"
tt29721661,tvEpisode,Episode #15.51,Episode #15.51,0,2013,\N,19,"Comedy,Game-Show"
tt2192264,tvEpisode,Episode #1.9,Episode #1.9,0,\N,\N,\N,Game-Show
tt27335962,tvEpisode,Swimming Au Naturel,Swimming Au Naturel,0,2016,\N,\N,\N
tt12643172,tvEpisode,Yo-Kai Everfore,Yo-Kai Everfore,0,2017,\N,\N,"Action,Adventure,Animation"
tt2543078,tvEpisode,Episode dated 28 November 2012,Episode dated 28 November 2012,0,2012,\N,\N,News
tt21999280,tvEpisode,Episode #1.340,Episode #1.340,0,\N,\N,\N,News
tt13827436,tvEpisode,Episode #1.91,Episode #1.91,0,2021,\N,60,"Action,Drama,Music"
tt13773364,tvEpisode,October 2019,October 2019,0,2019,\N,25,Documentary
tt31022443,movie,Soignants à coeur ouvert,Soignants à coeur ouvert,0,2023,\N,\N,Documentary
tt32856933,movie,Romeo,Romeo,0,2017,\N,150,Romance
tt1752803,tvEpisode,Episode dated 3 November 2010,Episode dated 3 November 2010,0,2010,\N,43,Talk-Show
tt1395163,short,Borderline,Borderline,0,2009,\N,20,"Drama,Short"
tt22772384,tvEpisode,La Guerra Comienza,La Guerra Comienza,0,2022,\N,\N,History
tt9571512,tvEpisode,Episode #1.127,Episode #1.127,0,2015,\N,\N,Crime
tt1209527,tvEpisode,Episode #5.129,Episode #5.129,0,2008,\N,45,Talk-Show
tt1947245,tvEpisode,The English Connection,The English Connection,0,2011,\N,\N,Comedy
tt31463689,tvEpisode,Episode #1.205,Episode #1.205,0,\N,\N,\N,\N
tt11660256,tvEpisode,Episode #1.288,Episode #1.288,0,\N,\N,\N,"Drama,Romance"

In [29]:
# list unique values in titleType
title_basics['titleType'].unique()

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvEpisode', 'tvSeries',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame', 'tvPilot'],
      dtype=object)

In [ ]:


# import title.principals.tsv
title_principals = pd.read_csv('title.principals.tsv', sep='\t')
title_principals.head()
# re-index on tconst
title_principals.set_index('tconst', inplace=True)

# import title.ratings.tsv
title_ratings = pd.read_csv('title.ratings.tsv', sep='\t')
title_ratings.head()
# re-index on tconst
title_ratings.set_index('tconst', inplace=True)

# import title.crew.tsv
title_crew = pd.read_csv('title.crew.tsv', sep='\t')
title_crew.head()
# re-index on tconst
title_crew.set_index('tconst', inplace=True)

# import title.akas.tsv
title_akas = pd.read_csv('title.akas.tsv', sep='\t')
title_akas.head()
# re-index on titleId
title_akas.set_index('titleId', inplace=True)

# import title.episode.tsv
title_episode = pd.read_csv('title.episode.tsv', sep='\t')
title_episode.head()
# re-index on tconst
title_episode.set_index('tconst', inplace=True)

In [3]:
import os

# delete imdb.db if it exists
if os.path.exists('imdb.db'):
    os.remove('imdb.db')
    
# ok now add all of theses dataframes to SQL database
import sqlite3
conn = sqlite3.connect('imdb.db')
name_basics.to_sql('name_basics', conn)
title_basics.to_sql('title_basics', conn)
title_principals.to_sql('title_principals', conn)
title_ratings.to_sql('title_ratings', conn)
title_crew.to_sql('title_crew', conn)
title_akas.to_sql('title_akas', conn)
title_episode.to_sql('title_episode', conn)

# now close the connection
conn.close()