In [1]:
# connect to postgresql database called imdb_pg with user postgres and password postgres
import pandas as pd
import dave_imdb as di
import matplotlib.pyplot as plt
import seaborn as sns

# set no max rows
pd.set_option('display.max_rows', None)

# connect to the database
conn = di.connect_to_imdb_pg()

In [2]:
# test the function
searchname = "Jason Mewes"
df = di.search_name_basics(searchname, conn)
df.head(df.shape[0])

e:\Documents\GitHub\Dave_ML\dave_imdb.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query("SELECT * FROM name_basics WHERE primaryname ILIKE '%{}%';".format(name), conn)

KeyboardInterrupt:

In [ ]:
correct_row = 0
nconst_1 = di.get_nconst(df, correct_row)
searchname = "Arnold Schwarzenegger"
df = di.search_name_basics(searchname, conn)
df.head(df.shape[0])

In [4]:
correct_row = 0
nconst_2 = di.get_nconst(df, correct_row)

In [ ]:
import warnings
warnings.filterwarnings("ignore", category=UserWarning, message="pandas only supports SQLAlchemy")
di.fast_bacon_algorithm(nconst_1, nconst_2, conn)

In [ ]:
# look up the name of the actor with nconst nm0582939
nconst = 'nm0000411'
query = f"SELECT primaryname FROM name_basics WHERE nconst = '{nconst}'"
pd.read_sql_query(query, conn)

In [ ]:

actor_movies = di.get_actor_movies(nconst, conn)
actor_movies.head(actor_movies.shape[0])
# plot year on x and averagerating on y
plt.figure(figsize=(12, 8))
plt.scatter(actor_movies["startyear"], actor_movies["averagerating"])
plt.xlabel("Year")
plt.ylabel("Average Rating")
plt.ylim(0, 10)
plt.title("Average Rating of Movies Over Time")
plt.show()

In [ ]:
# show the rows of tc_costars dataframe where primaryname column is Timothy Olyphant
to = tc_costars[tc_costars["primaryname"] == "Frank Vincent"]
#to = to.merge(pd.read_sql_query("SELECT * FROM title_basics;", conn), on="tconst")
to.head(to.shape[0])